*.pyc
*.csv
*~
__pycache__
myvenv
db.sqlite3
/cronjobs/django_setup.py
/static
/media/media
/media/cab_photos
/media/site_photos
/media/site_files
/media/service_files
.DS_Store
*.log
Dockerfile
aws_config
docker-compose.yml
ssh/docker.rsa
ssh/docker.rsa.pub
itapp/itapp/dev-settings.py
itapp/manage.py
itapp/manage.py
aws/config
itapp/manage.py
